.form-inline{
	margin-top: 40px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:20px;
}
.newtopic {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 40px;
	min-width: 80px;
}
.newimage {
	width: 200px;
	height: 150px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.displayGiphys{
	
}
.panel {
	padding-left: 20%;
	padding-right: 10%;
}
.image-plus-rating {
	float: left;
	margin: 10px;
}
.format-form {
	margin: 10px;
	/*text-align: center;*/
}